# Q1. Pandas version

In [27]:
# What's the version of Pandas that you installed?
import pandas as pd
import numpy as np
print(pd.__version__)

2.3.2

# Q2. Records count

In [2]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
#How many records are in the dataset?
len(df)

9704

# Q3. Fuel types

In [8]:
# How many fual types are presented in the dataset?
df['fuel_type'].nunique()

2

In [9]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

# Q4. Missing values

In [13]:
# How many columns in the dataset have missing values?
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q5. Max fuel efficiency

In [15]:
#What the maximum fuel efficiency of cars in Asia
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

# Q6. Median value of horsepower

In [34]:
# Find the median value of horsepower column in the dataset.
print(f'Median value: {df["horsepower"].median()}')
# Next, calculate the most frequent value of the same horsepower column.
print(f'Most frequent value: {df["horsepower"].mode()[0]}')
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])
# Now, calculate the median value of horsepower once again.
print(f'Median value: {df["horsepower"].median()}')

Median value: 149.0
Most frequent value: 152.0
Median value: 152.0

# Q7. Sum of weights

In [28]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?


df_asia = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']][:7]
X = df_asia.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
w.sum()

np.float64(0.5187709081074025)

In [25]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])